.cebecalho{
  background-color: #2f1f80;
  border-radius: 77px 0px 0px 77px / 64px 0px 0px 64px;
  margin-left: 0.3%;
}

#logo{
  position: relative;
  top: 27px;
  left: 29px;
  display: inline-flex;
}

#TituloPrincipal{
  position: relative;
  top: 0px;
  left: 16%;
  padding: 3%;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
}
